<table class="table table-hover">
        <div  *ngIf="service.RegisteredDatas.length>0">
        <thead class="thead-light">
                
                <th>Team</th>
                <th>FullName</th>
                <th>Mail Id</th>
                <th>Lan No.</th>
            </thead>
            <tbody>
                
    <tr *ngFor="let data of service.RegisteredDatas">
            
            <td (click)="EditData(data)">{{data.Teamname}}</td>
            <td (click)="EditData(data)">{{data.Firstname}}-{{data.Lastname}}</td>
            <td (click)="EditData(data)">{{data.Email}}</td>
            <td (click)="EditData(data)">{{data.Lanid}}</td>
    </tr>
</tbody>
</div>
</table>